*{
  font-family: "NanumSquare";
}
h1{
  font-size: 30px;
  font-family: "NanumSquare";
  margin:0px;
  padding: 20px;
  padding-right: 0px;
  padding-left: 0px;
  display: inline;
  text-align: center;
}
a{
  text-decoration: none;
}
#home{
  width: 20px;
  display: inline;
  padding-top :25px;
  padding-bottom: 20px;
}
.years{
  display: grid;
  grid-column: 25% 50% 25%;
}
h2{
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
  display: inline;
}
body{
  margin: 0;
  background-color: #EDEAE3;
}
ul{
  list-style: none;
  margin: 0px;
}
li{
  padding: 10px;
  font-size: 20px;
}
.main_menu{
  float: left;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.content{
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
}
.img{
  width: 300px;
}
iframe{
  padding: 30px;
  float: right;
}
.right{
  display: grid;
  grid-template-columns: 400px 1fr;
  padding-top: 40px;
}
.left{
  display: grid;
  grid-template-columns: 1fr 400px;
  padding-top: 40px;
}
.main{
  display: grid;
  grid-template-columns: 250px 30px 1fr 300px 20px  ;
}
#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
#grid2{
  display: grid;
  grid-template-columns: 300px 400px 1fr;
}
#letter{
  font-size: 20px;
}
.year_list{
  border-color: black;
  border-right: 1px;
  border-width: 1px;
}

@font-face{
    font-family: "NanumSquare";
    src:url("NanumSquare.ttf") format("truetype");
}
